<h1 mat-dialog-title>Edit Product</h1>
<mat-dialog-content>
  <form [formGroup]="productForm"
    class="example-form">
      <input matInput placeholder="ID" formControlName="id" hidden>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Code" formControlName="code">
      <mat-error>
        <span *ngIf="!productForm.get('code').valid
          && productForm.get('code').touched">Please enter Code</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" formControlName="name">
      <mat-error>
        <span *ngIf="!productForm.get('name').valid
          && productForm.get('name').touched">Please enter Name</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Weight" formControlName="weight">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input #priceInputRef matInput placeholder="Price" class="form-control"
        formControlName="price">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="submit" mat-raised-button color="primary"
    [disabled]="!productForm.valid"
    (click)="onFormSubmit(productForm.value)">
    Save
  </button>
  <button type="submit" mat-raised-button class="btn btn-warning"
  (click)="hide()">Cancel</button>
</mat-dialog-actions>
